*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #EAF2F8;
}

.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(0,0,0,0.15);
}

form{
    margin: 2rem 0 1rem 0;
}

form input,select,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid gray;
    font-size: 1.5rem;
    height: 3rem;
    padding-left: 0.5rem;
    background-color: #ECF0F1;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i{
    font-size: 1.4rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 3rem;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    font-size: 1.5rem;
    color: #047d28;
}

form button{
    height: 3.5rem;
    background-color: #10B981;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

form button:hover{
    background-color: #059669;
}

form button:active{
    transform: translateY(2px);
}

@media (max-width : 380px) {
    .container{
        margin: 0 0.6rem 0 0.6rem;
    }
    .container h1{
        font-size: 1.6rem;
    }
    .msg{
        font-size: 1.4rem;
    }
    .dropdown i{
        font-size: 1.2rem;
    }
}